<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>RegisterUser</servlet-name>
		<servlet-class>com.wealth.builder.servlet.RegisterUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.wealth.builder.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdviceServlet</servlet-name>
		<servlet-class>com.wealth.builder.servlet.AdviceServlet</servlet-class>
	</servlet>	
	
	<filter>
	   <filter-name>LoginFilter</filter-name>
	   <filter-class>com.wealth.builder.filter.ValidateLogin</filter-class>
	
	    <init-param>
	      <param-name>avoid-urls</param-name>
	      <param-value>Login.jsp,</param-value>
	    </init-param>
	</filter>
		
	<servlet-mapping>
		<servlet-name>RegisterUser</servlet-name>
		<url-pattern>/registerUser</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>	
	
	<servlet-mapping>
		<servlet-name>AdviceServlet</servlet-name>
		<url-pattern>/saveAdvice</url-pattern>
	</servlet-mapping>	
	
	<servlet-mapping>
		<servlet-name>AdviceServlet</servlet-name>
		<url-pattern>/viewAdvices</url-pattern>
	</servlet-mapping>	
	
	<servlet-mapping>
		<servlet-name>AdviceServlet</servlet-name>
		<url-pattern>/editAdvice</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AdviceServlet</servlet-name>
		<url-pattern>/updateAdvice</url-pattern>
	</servlet-mapping>
		
	<filter-mapping>
	    <filter-name>LoginFilter</filter-name>
	    <url-pattern>/advice.jsp</url-pattern>
	</filter-mapping>

	<filter-mapping>
	    <filter-name>LoginFilter</filter-name>
	    <url-pattern>/updateAdvice.jsp</url-pattern>
	</filter-mapping>	
	
	<filter-mapping>
	    <filter-name>LoginFilter</filter-name>
	    <url-pattern>/saveAdvice</url-pattern>
	</filter-mapping>

	<filter-mapping>
	    <filter-name>LoginFilter</filter-name>
	    <url-pattern>/viewAdvices</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
	    <filter-name>LoginFilter</filter-name>
	    <url-pattern>/editAdvice</url-pattern>
	</filter-mapping>

	<filter-mapping>
	    <filter-name>LoginFilter</filter-name>
	    <url-pattern>/updateAdvice</url-pattern>
	</filter-mapping>
		
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
